[tools]
node = "24"
"npm:@devcontainers/cli" = "latest"

[tasks.build]
run = "devcontainer build --workspace-folder ."

[tasks.up]
run = "devcontainer up --workspace-folder ."

[tasks.up2]
run = "devcontainer up --workspace-folder . --dotfiles-repository https://github.com/mchbot/dotfiles"

[tasks.sh]
run = "devcontainer exec --workspace-folder . zsh"

[tasks.container-id]
run = "docker ps --filter 'label=devcontainer.local_folder=/Users/mch/Work/devcontainer' -a -q"

[tasks.stop]
run = "docker stop $(docker ps --filter \"label=devcontainer.local_folder=$(pwd)\" -q)"

[tasks.rm]
run = "export CONTAINER=$(docker ps --filter \"label=devcontainer.local_folder=$(pwd)\" -q -a --no-trunc) && docker rm $CONTAINER && docker volume rm bashhistory-${CONTAINER}"
